@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&family=Inter:wght@500&family=Montserrat:wght@500&family=Ubuntu:wght@500&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&family=Inter:wght@500&family=Montserrat:wght@500&family=Poppins:ital,wght@0,100;0,400;0,500;1,100&family=Russo+One&family=Ubuntu:wght@500&display=swap");
@font-face {
  font-family: headingFont;
  src: url("/font/iCiel-Cadena.ttf.woff");
}

@font-face {
  font-family: paragraphFont;
  src: url("/font/Inter-Regular.ttf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: 1px solid red; */
}
.icon-item {
  font-size: 32px;
  color: white;
  font-weight: 600;
  cursor: pointer;
}
/* ---------------- */
.wiggle {
  animation: wiggle 4s 2s infinite;
}
@keyframes wiggle {
  5%,
  50% {
    transform: scale(1);
  }
  10% {
    transform: scale(0.9);
  }
  15% {
    transform: scale(1.02);
  }
  20% {
    transform: scale(1.02) rotate(-5deg);
  }
  25% {
    transform: scale(1.02) rotate(5deg);
  }
  30% {
    transform: scale(1.02) rotate(-3deg);
  }
  35% {
    transform: scale(1.02) rotate(2deg);
  }
  40% {
    transform: scale(1.02) rotate(0);
  }
}

/* ========================= nft minting------------------ */
.nft-bg {
  background-image: url(/assets/images/nft-bg.png);
  background-size: 100% 100%;
  height: 100vh;
}
.select-provider-bg {
  background-image: url(/assets/images/select-provider-bg.png);
  background-size: 100% 100%;
  height: 100vh;
}
.checkout-bg {
  background-image: url(/assets/images/checkout-bg.png);
  background-size: 100% 100%;
  height: 100vh;
}
.checkout-card-bg {
  background-image: url(/assets/images/checkout-card-bg.png);
  background-size: 100% 100%;
}
.provider-card-bg {
  background-image: url(/assets/images/provider-bg.png);
  background-size: 100% 100%;
}

.ju367v9c {
  background: #fff2cf !important;
  color: black !important;
}
.ju367v9c.btn-connect {
  background-color: blue;
}

@media screen and (max-width: 767px) {
  .nft-bg {
    background-image: url(/assets/images/mob-nft-bg.png);
    background-size: 100% 100%;
    background-color: #ffdb4d;
    height: auto;
  }
  .select-provider-bg {
    background-image: url(/assets/images/mob-checkout-bg.png);
    background-size: 100% 100%;
  }
  .provider-card-bg {
    background-image: url(/assets/images/provider-card-mob.png);
    background-size: 100% 100%;
  }
  .checkout-bg {
    background-image: url(/assets/images/mob-checkout-bg.png);
    background-size: 100% 100%;
  }
  .checkout-card-bg {
    background-image: url(/assets/images/provider-card-mob.png);
    background-size: 100% 100%;
  }
}
